<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhu.demo.dao.StudentMapper">
    <select id="queryAll" resultType="com.zhu.demo.entity.StudentEntity">
        select id,name,age,sex,birthday from student
    </select>
</mapper>